PracownicyKlient/Connected Services/PracownicyReference/pracownicy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/pracownicy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/pracownicy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pracownik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PESEL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pracownik" nillable="true" type="tns:Pracownik" />
</xs:schema>