PracownicyKlient/Connected Services/PracownicyReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePracownicy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/pracownicy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePracownicy_DodajPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajPracownika" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_DodajPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajPracownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_WczytajPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:WczytajPracownika" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_WczytajPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:WczytajPracownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_SprawdzPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:SprawdzPracownika" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_SprawdzPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:SprawdzPracownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_UsunPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:UsunPracownika" />
  </wsdl:message>
  <wsdl:message name="IServicePracownicy_UsunPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsunPracownikaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePracownicy">
    <wsdl:operation name="DodajPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePracownicy/DodajPracownika" message="tns:IServicePracownicy_DodajPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePracownicy/DodajPracownikaResponse" message="tns:IServicePracownicy_DodajPracownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WczytajPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePracownicy/WczytajPracownika" message="tns:IServicePracownicy_WczytajPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePracownicy/WczytajPracownikaResponse" message="tns:IServicePracownicy_WczytajPracownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SprawdzPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePracownicy/SprawdzPracownika" message="tns:IServicePracownicy_SprawdzPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePracownicy/SprawdzPracownikaResponse" message="tns:IServicePracownicy_SprawdzPracownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsunPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePracownicy/UsunPracownika" message="tns:IServicePracownicy_UsunPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePracownicy/UsunPracownikaResponse" message="tns:IServicePracownicy_UsunPracownika_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePracownicy" type="tns:IServicePracownicy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DodajPracownika">
      <soap:operation soapAction="http://tempuri.org/IServicePracownicy/DodajPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WczytajPracownika">
      <soap:operation soapAction="http://tempuri.org/IServicePracownicy/WczytajPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SprawdzPracownika">
      <soap:operation soapAction="http://tempuri.org/IServicePracownicy/SprawdzPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsunPracownika">
      <soap:operation soapAction="http://tempuri.org/IServicePracownicy/UsunPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePracownicy">
    <wsdl:port name="BasicHttpBinding_IServicePracownicy" binding="tns:BasicHttpBinding_IServicePracownicy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/pracownicy/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>