PracownicyKlient/Connected Services/PracownicyReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/pracownicy" />
  <xs:element name="DodajPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pracownicy" minOccurs="0" name="p" nillable="true" type="q1:Pracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPracownikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajPracownikaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WczytajPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pracownicy" minOccurs="0" name="p" nillable="true" type="q2:Pracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WczytajPracownikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WczytajPracownikaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SprawdzPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pracownicy" minOccurs="0" name="p" nillable="true" type="q3:Pracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SprawdzPracownikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SprawdzPracownikaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/pracownicy" minOccurs="0" name="p" nillable="true" type="q4:Pracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunPracownikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsunPracownikaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>